# Основные настройки ocserv
ipv4-network = {{ ocserv_vpn_subnet }}
ipv4-netmask = {{ ocserv_ipv4_netmask }}

# Настройка SSL
server-cert = /etc/ocserv/ssl/server-cert.pem
server-key = /etc/ocserv/ssl/server-key.pem

socket-file = /var/run/ocserv.sock
device = vpns

{% if ocserv_enable_oidc %}
# Настройка OIDC аутентификации
auth = oidc
oidc-issuer = {{ ocserv_oidc_issuer }}
oidc-client-id = {{ ocserv_oidc_client_id }}
oidc-client-secret = {{ ocserv_oidc_client_secret }}
{% else %}
# Настройка локальной аутентификации (plain)
auth = plain[passwd=/etc/ocserv/passwd]
{% endif %}

# Дополнительные настройки (порты, keepalive и т.д.)
tcp-port = 443
udp-port = 443
keepalive = 0
max-clients = 128
max-same-clients = 6
dpd = 120
mobile-dpd = 1800
try-mtu-discovery = true
tls-priorities = "NORMAL:%SERVER_PRECEDENCE:%COMPAT:-VERS-SSL3.0"
